/////////////////////////////////////////
/// global reset
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  color: var(--colot-text-black);
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
main {
  padding-top: 11.62rem;
}
/////////////////////////////////////////
/// variables
:root {
  --width-text: 55.5rem;
  --font-bolder: 500;
  --font-boldest: 700;

  --color-main: #f53838;
  --color-main-tint: #c42d2d;
  --color-main-shade: #f98888;
  --color-main-light: #ffecec;

  --colot-text-black: #0b132a;
  --color-text-lighter: #4f5665;
  --color-text-light: #afb5c0;

  --color-background-gray: #f8f8f8;
  --color-border-gray: #dddddd;

  --radius-sm: 1rem;
  --radius-lg: 5rem;

  --shadow-main: 0rem 3.7rem 3.7rem -1rem rgba(245, 56, 56, 0.349);
  --shadow-black: 0rem 4.7rem 4.7rem -1rem rgba(13, 16, 37, 0.05);
}

/////////////////////////////////////////
/// global style

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: var(--colot-text-black);
  font-weight: var(--font-bolder);
}
.heading-primary {
  font-size: 5rem;
  line-height: 1.4; /*70px*/
}
.heading-secondary {
  font-size: 3.5rem;
  line-height: 1.424; /*50px*/
  max-width: 43.5rem;
}
.heading-tertiary {
  font-size: 1.8rem;
  line-height: 1.6; /*30px*/
}

.description {
  font-size: 1.6rem;
  line-height: 1.875; /*30px*/
  max-width: 55.5rem;
  color: var(--color-text-lighter);
}
.li {
  font-size: 1.4rem;
  line-height: 2.142; /*30px*/
}
.btn-cta {
  color: #fff;
  background-color: var(--color-main);
  box-shadow: var(--shadow-main);
  transition: all 0.3s;
}
.btn-cta:hover {
  // transform: scale(1.02);
  box-shadow: 0rem 3.7rem 3.7rem -1rem var(--color-main-light);
  background-color: var(--color-main-tint);
}
.btn-outline {
  position: relative;
  color: var(--color-main);
  background-color: #fff;
  border: 2px solid var(--color-main);
  border-radius: var(--radius-lg);
  z-index: 1; // to make it at the top of the :before
  overflow: hidden; // prevent ::before from exceed its parent
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:active {
  color: white;
}
.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; // to make it underneath its parent
  // hover effect
  background-color: var(--color-main);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.btn-outline:hover::before {
  transform: scaleX(1);
}

.boldest {
  font-weight: var(--font-boldest);
}
.bolder {
  font-weight: var(--font-bolder);
}
